@use '../abstracts/' as abs;

.top-info {
	// background-color: #666;
	max-width: 325px;
	margin: 0 auto;
	text-align: center;

	h1 {
		color: abs.$very-dark-blue;
		font-size: 1.6em;
		font-weight: abs.$light;
		margin-bottom: 12px;
	}

	span {
		color: abs.$very-dark-blue;
		// font-size: 1.6em;
		font-weight: abs.$semibold;
		margin-bottom: 22px;
	}

	p {
		color: abs.$grayish-blue;
		line-height: 1.7;
	}

	@media screen and (min-width: 80em) {
		max-width: 505px;

		h2 {
			font-size: 2.4em;
			margin-bottom: 12px;
		}

		h1 {
			font-size: 2.4em;
			margin-bottom: 22px;
		}

		p {
			color: abs.$grayish-blue;
			line-height: 1.7;
		}
	}
}
